.list-unstyled-publications {
  list-style: disc inside ; /* show bullets */
  padding-left: 1.5rem;    /* proper indent */
  margin-bottom: 0.5rem;   /* spacing between items */
}

.list-unstyled-publications li {
  margin-bottom: 0.25rem;  /* optional finer spacing */
}

.bullet-notes ul.list-unstyled-notes {
  list-style: disc inside;
  padding-left: 1.5rem;
  margin-bottom: 0.5rem;
}

.bullet-notes ul.list-unstyled-notes li {
  margin-bottom: 0.25rem;
}

